<form class="form-validate form-horizontal" novalidate #addOrEditNotify="ngForm"
      (ngSubmit)="onSubmit(addOrEditNotify);">
  <div class="panel">
    <p class="ml-20 font16 mt text-warning"><i class="fa fa-edit mr"></i>{{'msgTemplate.msgAddOrEdit.creatTemplate'|translate}}</p>
    <hr class="mt mb"/>
    <!--表单主体 Begin-->
    <div class="panel-body">
      <fieldset>
        <!--<div class="col-sm-6">-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label"><i class="text-danger">* </i>{{'msgTemplate.msgAddOrEdit.ID'|translate}}</label>-->
            <!--<div class="col-sm-8">-->
              <!--<input class="form-control" type="text" name="notifyCode" [readonly]="code" required #notifyCode="ngModel" [(ngModel)]="notify.notifyCode"-->
                     <!--placeholder="{{'msgTemplate.msgAddOrEdit.IDtitle'|translate}}"/>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-8 pull-right text-danger" [hidden]="notifyCode.valid || notifyCode.pristine">-->
            <!--{{'msgTemplate.msgAddOrEdit.IDmust'|translate}}-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
          <div class="form-group pl-15 pr-15">
            <label class="col-sm-2 control-label"><i class="text-danger">* </i>{{'msgTemplate.msgAddOrEdit.title'|translate}}</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="title" required #title="ngModel" [(ngModel)]="notify.title"
                     placeholder="{{'msgTemplate.msgAddOrEdit.titleTitle'|translate}}"/>
            </div>
          </div>
          <div class="col-sm-8 pull-right text-danger" [hidden]="title.valid || title.pristine">
            {{'msgTemplate.msgAddOrEdit.titleMust'|translate}}
          </div>
        <!--</div>-->
      </fieldset>
      <fieldset>
        <div class="form-group pl-15 pr-15">
          <label class="col-sm-2 control-label">{{'msgTemplate.msgAddOrEdit.summary'|translate}}</label>
          <div class="col-sm-10">
            <p>{{notify.summary}}</p>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group pl-15 pr-15">
          <label class="col-sm-2 control-label"><i class="text-danger">* </i>{{'msgTemplate.msgAddOrEdit.emailTitle'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="emailTitle" required #emailTitle="ngModel" [(ngModel)]="notify.emailTitle"
                   placeholder="{{'msgTemplate.msgAddOrEdit.emailTitle'|translate}}"/>
          </div>
        </div>
        <div class="col-sm-8 pull-right text-danger" [hidden]="emailTitle.valid || emailTitle.pristine">
          {{'msgTemplate.msgAddOrEdit.emailTitleMust'|translate}}
        </div>
        <!--</div>-->
      </fieldset>
      <fieldset>
        <div id="summernote" class="summernote">
          <span>{{'msgTemplate.msgAddOrEdit.info'|translate}}</span>
        </div>
      </fieldset>
      <!--表单底部btn Begin-->
      <div class="text-center pull-right">
        <button class="ml btn btn-default mr pull-left" type="button" (click)="toBack()">{{'msgTemplate.msgAddOrEdit.cancel'|translate}}</button>
        <button class="ml btn btn-info pull-left" [disabled]="!addOrEditNotify.valid" type="submit">{{'msgTemplate.msgAddOrEdit.submit'|translate}}</button>
      </div>
      <!--表单底部btn End-->
    </div>
    <!--表单主体 End-->
  </div>
</form>
