.goods-promotion-type-success{
  border:1px solid #27c24c;
  padding: 1px 3px;
  color: #27c24c;
  border-radius: 2px;
}
.goods-promotion-type-pink{
  border:1px solid #f532e5;
  padding: 1px 3px;
  color: #f532e5;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .time-div {
    margin: 0 20px 20px;
    padding: 10px 15px;
  }
}

@media (max-width: 1170px) {
  .goods-data{
    overflow-x: scroll;
  }
  .goods-data table{
    width: 1000px;
  }
}

@media (max-width: 970px) {
  .goods-data{
    margin-left: -15px;
  }
}

rzhbootstrappaginator .pagination{
  margin: 0 !important;
}


.child-table ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.child-table ul li{
  list-style: none;
  float: left;
  min-height: 35px;
  line-height: 35px;
}
.child-table tbody tr td{
  padding-left: 0;
  padding-right: 0;
}
