/*课程表样式*/
.time-div {
  border-radius: 2px;
  background: white;
  overflow: hidden;
  color: #6c6e71;
  margin-left: 1%;
  min-height: 500px;
}

.time-table table tbody tr td p {
  height: 30px;
  line-height: 30px;
  position: relative;
}

.time-table table thead tr td div {
  height: 45px;
}

.time-table table thead tr td div.lineh {
  line-height: 45px;
}

.timetableData > div {
  width: 14.285714%;
}

/*课程可选样式*/
.times-disabled {
  background: #89dcbb;
}

/*选中课程样式*/
.times-select {
  background: rgba(102, 187, 102, 0.75);
}

/*选择课程隐藏复选框*/
.times-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/*课程预约页面，老师信息及课程状态信息样式*/
.teacher-warpper {
  padding: 20px;
}

.teacher-box {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  border-radius: 2px;
  padding: 10px 30px;
}

.teacher-info {
  background: #f9f9f9;
  padding: 10px 0;
}

.timetable-status p {
  margin: 0;
  padding-left: 42%;
  position: relative;
}

.timetable-status p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 38%;
  height: 60%;
  background: rgba(188, 206, 234, 0.74);
}

.timetable-status li:nth-of-type(2) p:before {
  background: rgba(102, 187, 102, 0.75);
}

.timetable-status li:nth-of-type(3) p:before {
  background: #2f9ca9;
}

.table-lyout {
  min-height: 500px;
  background: #f3f2f2;
}

.tutor-work-times{
  background: #DCF3F5;
  padding: 15px 20px;
  border-radius: 3px;
}

.work-time{
  background: #9ee6ec;
  margin: 5px 2px;
}
.work-time .week{
  border-bottom: 1px solid #89d1d7;
}
.work-time ul{
  padding: 0;
  margin: 0;
}
.work-time ul li{
  list-style: none;
  text-align: center;
}

/*不同像素下样式调整*/
@media (min-width: 768px) {
  .time-div {
    margin: 0 20px 20px;
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .time-table-info .btn {
    padding: 6px 0px;
  }
  .time-table-info button span .ml{
    margin-left: 2px;
  }

  .time-div {
    padding: 5px 2px;
  }

  .time-table tbody tr td p span ,.time-table tbody tr td button span{
    display: inline-block;
    width: 80px;
    transform: scale(0.6);
    transform-origin: left top;
  }

  .time-table thead tr td p span {
    display: block;
    width: 200%;
    transform: scale(0.5);
    transform-origin: left top;
  }

  .time-table {
    font-size: 12px;
  }

  .teacher-warpper {
    padding: 0px 0 10px !important;
  }
}
