<!--添加课表信息  begin-->
<div class="teacher-warpper pt0 pr0 pl0">
  <div class="teacher-box container">
    <div class="text-warning font16"><i class="fa fa-edit mr"></i>{{'timetable.creatTimetable'|translate}}</div>
    <hr class="mt-5 mb"/>
    <div class="tutor-work-times" *ngIf="tutorWorktimes.length>0">
      <p class="mb-5">{{'timetable.workTime'|translate}}</p>
      <table class="w100">
        <tbody>
        <tr>
          <td *ngFor="let worktime of weeks" class="w14" valign="top">
            <div class="work-time">
              <p class="week text-center"><strong>{{worktime.key}}</strong></p>
              <div>
                <ul *ngIf="worktime.worktime.length > 0">
                  <li *ngFor="let time of worktime.worktime">
                    {{time.startTime}} - {{time.endTime}}
                  </li>
                </ul>
                <ul *ngIf="worktime.worktime.length < 1">
                  <li>
                    {{'timetable.inoperation'|translate}}
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)"
          novalidate="">
      <!--选择老师信息 start-->
      <fieldset>
        <div class="form-group m">
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.teacher'|translate}}</label>
            <div class="col-sm-9">
              <select class="form-control" (change)="selectTutor()" [(ngModel)]="tutorCode" formControlName="tutorCode"
                      [formControl]="valForm.controls['tutorCode']">
                <option selected="selected" style='display: none' value=''></option>
                <option *ngFor="let tutor of tutorList" value="{{tutor.tutorCode}}">{{tutor.eName}}({{tutor.name}})</option>
              </select>
              <span class="text-danger"
                    *ngIf="valForm.controls['tutorCode'].hasError('required') && (valForm.controls['tutorCode'].dirty || valForm.controls['tutorCode'].touched)">{{'timetable.mustSelectTeacher'|translate}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.course'|translate}}</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="courseCode" (change)="selectCourse()" (click)="getTip()"
                      [(ngModel)]="courseCode"
                      [formControl]="valForm.controls['courseCode']">
                <option selected="selected"  value='' style='display: none'></option>
                <option *ngFor="let course of courseList" value="{{course.course.courseCode}}">
                  {{course.course.course}}
                </option>
              </select>
              <span class="text-danger"
                    *ngIf="valForm.controls['courseCode'].hasError('required') && (valForm.controls['courseCode'].dirty || valForm.controls['courseCode'].touched)">{{'timetable.courseMust'|translate}}</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-group m">
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.startTime'|translate}}</label>
            <div class="col-sm-9">
              <input class="form-control" placeholder="{{'timetable.startTimeTitle'|translate}}" type="time"
                     formControlName="stime"
                     [formControl]="valForm.controls['stime']"/>
              <span class="text-danger"
                    *ngIf="valForm.controls['stime'].hasError('required') && (valForm.controls['stime'].dirty || valForm.controls['stime'].touched)">{{'timetable.timeMust'|translate}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.duration'|translate}}</label>
            <div class="col-sm-9">
              <input class="form-control" placeholder="{{'timetable.durationTitle'|translate}}" type="number"
                     [(ngModel)]="duration" readonly formControlName="duration"
                     [formControl]="valForm.controls['duration']"/>
              <span class="text-danger"
                    *ngIf="valForm.controls['duration'].hasError('required') && (valForm.controls['duration'].dirty || valForm.controls['duration'].touched)"></span>
              <span class="text-danger"
                    *ngIf="valForm.controls['duration'].hasError('pattern') && (valForm.controls['duration'].dirty || valForm.controls['duration'].touched)">error...</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-group m">
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.studentNum'|translate}}</label>
            <div class="col-sm-9">
              <!--<select class="form-control" formControlName="num" [formControl]="valForm.controls['num']">-->
                <!--<option *ngFor="let num of upperClassLimit" value="{{num}}">{{num}}</option>-->
              <!--</select>-->
              <input class="form-control" formControlName="num" [formControl]="valForm.controls['num']" type="number"
                     readonly [(ngModel)]="num">
              <span class="text-danger"
                    *ngIf="valForm.controls['num'].hasError('required') && (valForm.controls['num'].dirty || valForm.controls['num'].touched)">{{'timetable.studentNumMust'|translate}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.payCourseHour'|translate}}</label>
            <div class="col-sm-9">
              <input class="form-control" [(ngModel)]="courseHour" readonly
                     placeholder="{{'timetable.payCourseHourTitle'|translate}}" type="number"
                     formControlName="courseHour" [formControl]="valForm.controls['courseHour']"/>
              <span class="text-danger"
                    *ngIf="valForm.controls['courseHour'].hasError('required') && (valForm.controls['courseHour'].dirty || valForm.controls['courseHour'].touched)"></span>
              <span class="text-danger"
                    *ngIf="valForm.controls['courseHour'].hasError('pattern') && (valForm.controls['courseHour'].dirty || valForm.controls['courseHour'].touched)">error...</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-group m">
          <!--<div class="col-sm-6">-->
          <!--<label class="col-sm-3 control-label height-35">{{'timetable.courseType'|translate}}</label>-->
          <!--<div class="col-sm-9">-->
          <!--<select class="form-control" formControlName="courseHourType"-->
          <!--[formControl]="valForm.controls['courseHourType']">-->
          <!--<option *ngFor="let type of courseHourTypeDatas" value="{{type.key}}">{{type.val}}</option>-->
          <!--</select>-->
          <!--<span class="text-danger"-->
          <!--*ngIf="valForm.controls['courseHourType'].hasError('required') && (valForm.controls['courseHourType'].dirty || valForm.controls['courseHourType'].touched)">{{'timetable.courseTypeMust'|translate}}</span>-->
          <!--</div>-->
          <!--</div>-->
          <div class="col-sm-6">
            <label class="col-sm-3 control-label height-35">{{'timetable.timezone'|translate}}</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control" [(value)]="timeZoneInfo">
              <!--<select class="form-control" readonly [(ngModel)]="timeZoneInfo" formControlName="zones"-->
              <!--[formControl]="valForm.controls['zones']">-->
              <!--<option *ngFor="let aones of timeAones" value="{{aones.zoneId}}">{{aones.timezone}}</option>-->
              <!--</select>-->
              <!--<span class="text-danger"-->
              <!--*ngIf="valForm.controls['zones'].hasError('required') && (valForm.controls['zones'].dirty || valForm.controls['zones'].touched)">时区必选</span>-->
            </div>
          </div>
          <!--<div class="col-sm-6">-->
            <!--<label class="col-sm-3 control-label height-35">{{'timetable.state'|translate}}</label>-->
            <!--<div class="col-sm-9">-->
              <!--<select class="form-control" formControlName="state" [formControl]="valForm.controls['state']">-->
                <!--<option *ngFor="let type of timeTableTypes" value="{{type.key}}">{{type.val}}</option>-->
              <!--</select>-->
              <!--<span class="text-danger"-->
                    <!--*ngIf="valForm.controls['state'].hasError('required') && (valForm.controls['state'].dirty || valForm.controls['state'].touched)">{{'timetable.stateMust'|translate}}</span>-->
            <!--</div>-->
          <!--</div>-->
          <div class="clear"></div>
        </div>
      </fieldset>
      <!--选择老师信息 end-->
      <!--选择日期信息 start-->
      <fieldset>
        <div class="ml-20"><font color="red">*</font> {{'timetable.selectDate'|translate}}</div>
        <div class="form-group ml-20">
          <div class="col-sm-10">
            <div class="checkbox c-checkbox pull-left m" *ngFor="let week of timetableData">
              <label>
                <input type="checkbox" name="checkbox" value="{{week.date}}" (change)="selDate($event)" [disabled]="week.bol" />
                <span class="fa fa-check"></span>{{week.date}} ({{week.week}})
              </label>
            </div>
          </div>
          <div class="clear"></div>
          <span class="text-danger" *ngIf="!dateInfo">{{'timetable.dateMust'|translate}}</span>
        </div>
      </fieldset>
      <!--选择日期信息 end-->

      <button class="btn btn-labeled btn-success pull-right">
        <span class="btn-label"><i class="icon-check"></i></span>{{'timetable.submit'|translate}}
      </button>
      <button type="button" (click)="clearInfo()" class="btn btn-warning pull-right mr">
        <i class="icon-trash mr"></i>{{'timetable.reset'|translate}}
      </button>
    </form>
  </div>
</div>
<!--添加课表信息  end-->

<!--课程表 begin-->
<div class="time-div m0">
  <!--功能操作 begin-->
  <div class="mb mt">
    <button class="btn-sm btn btn-success btn-outline" (click)="prevTimeTable()"><i
      class="icon-arrow-left-circle mr"></i>{{'timetable.prev'|translate}}
    </button>
    <button class="btn-sm btn btn-success btn-outline" (click)="nextTimeTable()">{{'timetable.next'|translate}}<i
      class="icon-arrow-right-circle ml"></i></button>
  </div>
  <!--功能操作 end-->
  <!--课程表信息 begin-->
  <div class="timetableData">
    <div *ngFor="let tt of timetableData" class="pull-left time-table p-1">
      <div class="table-lyout">
        <table width="100%">
          <thead>
          <tr class="">
            <td class="blightblue p-5 text-center text-white">
              <div>
                <p class="mb0"><span><strong>{{tt.week}}</strong></span></p>
                <p class="mb0"><span><strong>{{tt.date}}</strong></span></p>
              </div>
            </td>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="!tt.bol">
          <tr *ngFor="let times of tt.times">
            <td class="time-table-info">
              <button class="btn btn-square plannergrey form-control mt-1" tooltip="{{times.course}}"  (click)="delTimeTable(times.timetableCode)">
                <span>
                  {{times.courseTime|moment:'HH:mm'}} - {{times.courseEndTime|moment:'HH:mm'}}
                  <i class="fa fa-minus-circle ml text-danger"></i>
                </span>
              </button>
            </td>
          </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!--课程表信息 end-->
</div>
<!--课程表 end-->

