//表单样式
.form-horizontal label i{
  font-weight: normal;
  color: #f44336;
  letter-spacing: 2px;
}
@media screen and (max-width: 766px){
  .rightpage{
    padding-top:120px;
  }
}
.rightpage label i{
  font-weight: normal;
  color: #f44336;
  letter-spacing: 2px;
}
.panel-body{
  padding-bottom: 60px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.org-item{
  list-style:none;
  font-size:14px;
  width: 100%;
  line-height: 20px;
  padding:10px 0;
  border-bottom:1px dashed #e1e1e1;
}
.org-item p{
  margin-bottom: 0;
}
.org-item:after{
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.item-hd{
  font-weight: bold;
  text-align: right;
}
.item-bd{
  margin: 0;
  word-wrap: break-word;
}
.addTitle{
  width:100%;
  padding: 20px;
  font-size: 24px;
  line-height: 1.1;
  color: #929292;
  font-weight: normal;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}
//右侧绑定老师滑动效果样式
.teacher-item{
  position: relative;
}
.teacher-item .media{
  background: #fff;
  position: relative;
  z-index: 10;
  transition: 0.5s ease-in-out;
}
.teacher-item:hover .media{
  transform: translateX(-50px);
}
.teacher-item button{
  position: absolute;
  right: 0;
  top:0;
  bottom: 20px;
  z-index: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
