//右侧表单容器样式 start
@media screen and (max-width: 766px){
  .rightpage{
    padding-top:120px;
  }
}
.rightpage label i{
  font-weight: normal;
  color: #f44336;
  letter-spacing: 2px;
}
.panel-body{
  padding-bottom: 60px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.org-item{
  list-style:none;
  font-size:14px;
  width: 100%;
  line-height: 20px;
  padding:10px 0;
  border-bottom:1px dashed #e1e1e1;
}
.org-item p{
  margin-bottom: 0;
}
.org-item:after{
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.item-hd{
  font-weight: bold;
  text-align: right;
}
.item-bd{
  margin: 0;
  word-wrap: break-word;
}
.addTitle{
  width:100%;
  padding: 20px;
  font-size: 24px;
  line-height: 1.1;
  color: #929292;
  font-weight: normal;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}
//右侧上传头像 start
.file-upload-btn{
  width: 100px;
  height:100px;
  border: 1px dashed #c0c0c0;
  position: relative;
}
.file-upload-btn i{
  font-size: 30px;
  color: #c0c0c0 !important;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
img-cropper{
  display: block;
  width: 100%;
  text-align: center;
}
