<!--右侧添加成员 Begin-->
<div class="rightpage" [class.operationpage-open]="isOpen">
  <!--添加成员表单 Begin-->
  <form class="form-validate form-horizontal" novalidate #addMember="ngForm" (ngSubmit)="onsubmit(addMember)" style="height: 100%">
    <div class="panel-default">
      <!--表单头部 Begin-->
      <div class="addTitle panel-heading">
        <h4>{{initData.bl ? 'Add Member' : 'Update Member'}}</h4>
      </div>
      <!--表单头部 End-->
      <!--表单主体 Begin-->
      <div class="panel-body">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.firstName'|translate}}</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="firstName" required [(ngModel)]="initData.data.firstName" placeholder="{{'enterprise.editMember.firstNameTitle'|translate}}" [pattern]="patterns.noSpace"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.lastName'|translate}}</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="lastName" required [(ngModel)]="initData.data.lastName" placeholder="{{'enterprise.editMember.lastNameTitle'|translate}}" [pattern]="patterns.noSpace" />
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="initData.bl">
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.email'|translate}}</label>
            <div class="col-sm-7">
              <input class="form-control" type="email" name="email" required [pattern]="patterns.email" ngModel placeholder="{{'enterprise.editMember.eamilTitle'|translate}}" />
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="initData.bl">
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.password'|translate}}</label>
            <div class="col-sm-7">
              <input class="form-control" type="password" min="6" max="16" name="password" required  ngModel placeholder="{{'enterprise.editMember.passwordTitle'|translate}}" [pattern]="patterns.NBpassword"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.upperLimit'|translate}}</label>
            <div class="col-sm-7">
              <input class="form-control" type="number" min="1" max="100" name="upperLimit" required  [(ngModel)]="initData.data.upperLimit" placeholder="{{'enterprise.editMember.upperLimitTitle'|translate}}" [pattern]="patterns.pnum"/>
            </div>
          </div>
        </fieldset>
        <!--<fieldset *ngIf="!initData.bl">-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">{{'enterprise.editMember.age'|translate}}</label>-->
            <!--<div class="col-sm-7">-->
              <!--<input class="form-control" type="number" min="1" name="age" [(ngModel)]="initData.data.age"-->
                <!--placeholder="{{'enterprise.editMember.ageTitle'|translate}}" [pattern]="patterns.pnum"/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
        <!--<fieldset *ngIf="!initData.bl">-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">{{'enterprise.editMember.sex'|translate}}</label>-->
            <!--<div class="col-sm-7">-->
              <!--<select class="form-control" name="sex" [(ngModel)]="initData.data.sex">-->
                <!--<option *ngFor="let sex of sexs" value="{{sex.key}}">{{sex.val}}</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.timezone'|translate}}</label>
            <div class="col-sm-7">
              <select class="form-control" name="timeZone" required [(ngModel)]="initData.data.timeZone">
                <option *ngFor="let timezone of timezones" value="{{timezone.zoneId}}">{{timezone.timezone}}</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">{{'enterprise.editMember.countryCode'|translate}}</label>
            <div class="col-sm-7">
              <select class="form-control" name="countryCode" required [(ngModel)]="initData.data.countryCode">
                <option *ngFor="let country of countryList" value="{{country.key}}">{{country.val}}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <!--表单主体 End-->
      <!--表单底部 Begin-->
      <div class="panel-footer text-center" style="position: absolute;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" type="button" (click)="closeMember()">{{'enterprise.editMember.cancel'|translate}}</button>
        <button class="ml btn btn-info pull-left" [disabled]="isDisabled" type="submit">{{initData.bl ? 'Add' : 'Update'}}</button>
      </div>
      <!--表单底部 End-->
    </div>
  </form>
  <!--添加成员表单 End-->
</div>
<!--右侧添加成员 End-->
