<!--教师管理头部 Begin-->
<div class="content-heading pb-5">
  <div class="pull-left">
    <p>{{'classroom.classroom.classroom'|translate}}</p>
    <p class="font12 mt-5 text-muted">{{'classroom.classroom.classroomInfo'|translate}}</p>
  </div>
  <div class="clear"></div>
</div>
<!--教师管理头部 End-->
<!--搜索 begin-->
<div class="panel p">
  <form class="form-validate form-horizontal" novalidate #searchForm="ngForm">
    <fieldset class="mb-5 pb-5 col-md-4 pt pb">
      <label class="col-sm-4 control-label height-35">{{'classroom.classroom.assistant'|translate}}：</label>
      <div class="col-sm-8 pr0">
        <select class="form-control" name="assistantCode" [(ngModel)]="search.assistantCode" ngModel>
          <option *ngFor="let assis of assisList" value="{{assis.assistantCode}}">{{assis.name}}</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="mb-5 pb-5 col-md-4 pt pb">
      <label class="col-sm-4 control-label height-35">{{'classroom.classroom.teacher'|translate}}：</label>
      <div class="col-sm-8 pr0">
        <select class="form-control" name="tutorCode" [(ngModel)]="search.tutorCode" ngModel>
          <option *ngFor="let teacher of teacherList" value="{{teacher.tutorCode}}">{{teacher.name}}</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="mb-5 pb-5 col-md-4 pt pb">
      <label class="col-sm-4 control-label height-35">{{'classroom.classroom.state'|translate}}：</label>
      <div class="col-sm-8 pr0">
        <select class="form-control" name="state" [(ngModel)]="search.state" ngModel>
          <option *ngFor="let state of stateList" value="{{state.key}}">{{state.val}}</option>
        </select>
      </div>
    </fieldset>
    <button class="btn btn-info pull-right mt mr-15" (click)="getData(searchForm.value)"><i
      class="mr icon-magnifier"></i>{{'classroom.classroom.search'|translate}}
    </button>
    <button class="btn btn-warning pull-right mt mr" (click)="getData(initSearch);"><i class="mr icon-magnifier"></i>{{'classroom.classroom.all'|translate}}
    </button>
    <div class="clear"></div>
  </form>
</div>
<!--搜索 end-->

<!--信息列表 begin-->
<div class="panel panel-default table-mbl">
  <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="classData"
         (pageChange)="getData(classroom.searchData, $event)">
    <thead>
    <tr>
      <th class="unselectable text-center sort-num w5">{{'classroom.classroom.number'|translate}}</th>
      <th class="w15  unselectable text-center">{{'classroom.classroom.course'|translate}}</th>
      <th class="w10  unselectable text-center">{{'classroom.classroom.teacher'|translate}}</th>
      <th class="w5  unselectable text-center">{{'classroom.classroom.videoPass'|translate}}</th>
      <th class="w20  unselectable text-center">{{'classroom.classroom.attendStudent'|translate}}</th>
      <th class="w15  unselectable text-center">{{'classroom.classroom.courseTime'|translate}}</th>
      <th class="w5  unselectable text-center">{{'classroom.classroom.courseType'|translate}}</th>
      <th class="w5  unselectable text-center">{{'classroom.classroom.state'|translate}}</th>
      <th class="w15  unselectable text-center">{{'classroom.classroom.opp'|translate}}</th>
    </thead>
    <tbody>
    <tr class="text-center" *ngFor="let item of dataTable.data;let i = index">
      <td class="pl">{{i+1}}</td>
      <td>{{item.course}}</td>
      <td>{{item.classroomTutors[0].tutorName}}</td>
      <td>{{item.videoPass}}</td>
      <td>
        <ng-container *ngIf="item.classroomStudentses.length>0">
            <span *ngFor="let itemStu of getAttendStudents(item);let j=index;">
              {{itemStu.studentName}}
              <ng-container *ngIf="j!=getAttendStudents(item).length-1">、</ng-container>
            </span>
        </ng-container>
      </td>
      <td>{{tools.UTCToDate(item.startTime)| substring:[0,10]}}<br/>{{tools.UTCToDate(item.startTime)|
        substring:[11,8]}} ~ {{tools.UTCToDate(item.endTime)| substring:[11,8]}}
      </td>
      <td>
        <span class="text-info" *ngIf="item.type == custom">定制课程</span>
        <span *ngIf="item.type != custom">课表课程</span>
      </td>
      <td>
        <div class="circle circle-lg"
             [ngClass]="{
             'circle-warning':item.state == 'Premature',
             'circle-success':item.state == 'Ended'||item.state == 'Book'||item.state == 'Started'||item.state == 'Confirmed',
             'circle-danger':item.state == 'Overdue',
             'circle-muted':item.state == 'Cancel'||item.state=='AssistantCancel'}"
             tooltip="{{item.state | state:1003}}"></div>
      </td>
      <td>
        <button class="mb-sm btn-xs btn btn-primary btn-outline"
                (click)="toDetail(item.classroomCode, item.classroomTutors[0].tutorCode)">
          <i class="fa fa-file-text-o mr-5"></i>{{'classroom.classroom.detail'|translate}}
        </button>
        <button
          *ngIf="item.state!='Ended'&&item.state!='Started'&&item.state!='Cancel'&&item.state!='Premature'&&item.state!='Overdue'&&item.state!='AssistantCancel'"
          class="mb-sm btn-xs btn btn-danger btn-outline"
          (click)="cancelCourse(item.classroomCode, item.classroomTutors[0].tutorCode)">
          <i class="fa fa-times mr-5"></i>{{'classroom.classroom.cancel'|translate}}
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="10">
        <div class="col-sm-5">
          <div class="text-muted">
            <strong>{{'classroom.classroom.No'|translate}} {{classData.genStartRow()}}
              {{'classroom.classroom.to'|translate}} {{classData.genEndRow()}}
              {{'classroom.classroom.strip'|translate}}，{{'classroom.classroom.row'|translate}}
              {{classData.totalRow}}{{'classroom.classroom.strip'|translate}}</strong>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="pull-right">
            <rzhBootstrapPaginator></rzhBootstrapPaginator>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<!--信息列表 end-->
