<div class="rightpage" [class.operationpage-open]="isOpen">
  <div class="p-15 node-content-wrapper-100">
    <!-- 添加分类信息 begin -->
    <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
              <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
            <div class="modal-title font16">{{'course.coursecat.add'|translate}}<span *ngIf="selCode"><font
              class="text-warning">{{selName}}</font>{{'course.coursecat.subordinate'|translate}}</span>{{'course.coursecat.class'|translate}}
            </div>
          </div>
          <div class="modal-body">
            <form class="form-validate" novalidate #add="ngForm"
                  (ngSubmit)="addCategory(add);smModal.hide();add.reset()">
              <div class="form-group">
                <label class="control-label">{{'course.coursecat.courseTypeName'|translate}}</label>
                <input class="form-control" name="category"
                       placeholder="{{'course.coursecat.courseTypeNameTitle'|translate}}" required ngModel type="text"/>
              </div>
              <div class="form-group">
                <label class="control-label">{{'course.coursecat.courseTypeState'|translate}}</label>
                <select class="form-control" name="state" required ngModel>
                  <option *ngFor="let item of stateList" value="{{item.key}}">{{item.val}}</option>
                </select>
              </div>
              <button class="btn btn-info pull-right mb" type="submit">
                <i class="fa fa-plus mr"></i>{{'course.coursecat.add'|translate}}
              </button>
            </form>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- 添加分类信息 end -->
    <!-- 修改分类信息 begin -->
    <div bsModal #upModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-sm" *ngIf="upInfo">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="upModal.hide()">
              <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
            <div class="modal-title font16">{{'course.coursecat.change'|translate}}<span
              class="text-warning">{{upInfo.category}}</span>{{'course.coursecat.info'|translate}}
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label">{{'course.coursecat.courseTypeName'|translate}}</label>
              <input class="form-control" name="category"
                     placeholder="{{'course.coursecat.courseTypeNameTitle'|translate}}" required [(ngModel)]="upInfo.category"
                     type="text" [pattern]="patterns.noSpace"/>
            </div>
            <div class="form-group">
              <label class="control-label">{{'course.coursecat.courseTypeState'|translate}}</label>
              <select class="form-control" name="superCode" required [(ngModel)]="upInfo.state" ngModel>
                <option *ngFor="let item of stateList" value="{{item.key}}">{{item.val}}</option>
              </select>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="control-label">{{'course.coursecat.courseTypeParent'|translate}}</label>-->
            <!--<select class="form-control" name="state" required [(ngModel)]="upInfo.superCode" ngModel>-->
            <!--<option *ngFor="let item of parentList" value="{{item.categoryCode==upInfo.categoryCode?'':item.categoryCode}}">{{item.category==upInfo.category?"":item.category}}</option>-->
            <!--</select>-->
            <!--</div>-->
            <button class="btn btn-info pull-right mb" (click)="modifyCategory();upModal.hide()">
              <i class="fa fa-plus mr"></i>{{'course.coursecat.submit'|translate}}
            </button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- 修改分类信息 end -->
    <button class="btn btn-info" (click)="getCode('');smModal.show()"><i class="fa fa-plus mr"></i>{{'course.coursecat.addRootCourseType'|translate}}
    </button>
    <button class="ml btn btn-default mr pull-right" type="button" (click)="closeCourse()">
      <i class="fa fa-minus-circle text-danger mr-5"></i>{{'course.coursecat.close'|translate}}
    </button>
    <hr/>
    <!--列表树信息 begin-->
    <tree-root #tree [nodes]="nodes" [focused]="true" [options]="options">
      <ng-template #treeNodeTemplate let-node>
        <div style="border-bottom: 1px dashed #d9d9d9;padding: 5px 0;width: 100%;">
          <div class="pull-left mr text-info" title="{{node.data.summary}}">{{ node.data.category }}</div>
          <div class="pull-left">{{ childrenCount(node) }}</div>
          <button class="mb-sm btn btn-primary btn-outline btn-xs pull-right mr" *ngIf="node.level<2"
                  (click)="getCode(node.data.categoryCode);smModal.show()">
            <i class="fa fa-plus mr-5"></i>{{'course.coursecat.child'|translate}}
          </button>
          <button class="mb-sm btn btn-warning btn-outline btn-xs pull-right mr"
                  (click)="getInfo(node.data);upModal.show()">
            <i class="icon-note mr-5"></i>{{'course.coursecat.change'|translate}}
          </button>
          <div class="clear"></div>
        </div>
      </ng-template>
    </tree-root>
    <!--列表树信息 end-->
  </div>
  <!--<div class="panel-footer text-center goodscatBottom">-->
  <!---->
  <!--</div>-->
  <!--遮罩层-->
  <div class="add-is-show"></div>
</div>

